{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:08.331999Z",
     "start_time": "2025-11-27T21:32:08.324865Z"
    }
   },
   "source": "import pandas as pd",
   "outputs": [],
   "execution_count": 213
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:09.087549Z",
     "start_time": "2025-11-27T21:32:08.404721Z"
    }
   },
   "cell_type": "code",
   "source": [
    "csv_data = pd.read_csv('CREMA-D/finishedResponses.csv', low_memory=False)\n",
    "actor_data = pd.read_csv('CREMA-D/VideoDemographics.csv', low_memory=False)"
   ],
   "id": "4fdd52a502a63895",
   "outputs": [],
   "execution_count": 214
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:09.138387Z",
     "start_time": "2025-11-27T21:32:09.118562Z"
    }
   },
   "cell_type": "code",
   "source": "actor_data",
   "id": "67c33421d0d97a82",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    ActorID  Age     Sex              Race     Ethnicity\n",
       "0      1001   51    Male         Caucasian  Not Hispanic\n",
       "1      1002   21  Female         Caucasian  Not Hispanic\n",
       "2      1003   21  Female         Caucasian  Not Hispanic\n",
       "3      1004   42  Female         Caucasian  Not Hispanic\n",
       "4      1005   29    Male  African American  Not Hispanic\n",
       "..      ...  ...     ...               ...           ...\n",
       "86     1087   62    Male         Caucasian  Not Hispanic\n",
       "87     1088   23    Male  African American  Not Hispanic\n",
       "88     1089   24  Female         Caucasian  Not Hispanic\n",
       "89     1090   50    Male             Asian  Not Hispanic\n",
       "90     1091   29  Female             Asian  Not Hispanic\n",
       "\n",
       "[91 rows x 5 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ActorID</th>\n",
       "      <th>Age</th>\n",
       "      <th>Sex</th>\n",
       "      <th>Race</th>\n",
       "      <th>Ethnicity</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1001</td>\n",
       "      <td>51</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>1002</td>\n",
       "      <td>21</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1003</td>\n",
       "      <td>21</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1004</td>\n",
       "      <td>42</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1005</td>\n",
       "      <td>29</td>\n",
       "      <td>Male</td>\n",
       "      <td>African American</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>86</th>\n",
       "      <td>1087</td>\n",
       "      <td>62</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>87</th>\n",
       "      <td>1088</td>\n",
       "      <td>23</td>\n",
       "      <td>Male</td>\n",
       "      <td>African American</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>88</th>\n",
       "      <td>1089</td>\n",
       "      <td>24</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>89</th>\n",
       "      <td>1090</td>\n",
       "      <td>50</td>\n",
       "      <td>Male</td>\n",
       "      <td>Asian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>90</th>\n",
       "      <td>1091</td>\n",
       "      <td>29</td>\n",
       "      <td>Female</td>\n",
       "      <td>Asian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>91 rows × 5 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 215,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 215
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:09.333837Z",
     "start_time": "2025-11-27T21:32:09.293972Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Drop unnecessary columns from csv_data\n",
    "csv_data = csv_data.drop(columns=['pos','localid','ans','queryType', 'numTries', 'clipNum', 'questNum', 'subType', 'sessionNums', 'respEmo', 'respLevel', 'dispLevel'])\n",
    "# Drop first column\n",
    "csv_data = csv_data.drop(columns=[csv_data.columns[0]])"
   ],
   "id": "2644f5ddf6ecdd17",
   "outputs": [],
   "execution_count": 216
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:09.494009Z",
     "start_time": "2025-11-27T21:32:09.475712Z"
    }
   },
   "cell_type": "code",
   "source": "csv_data",
   "id": "cdb58b756eef2405",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "          ttr         clipName dispEmo  dispVal\n",
       "0       14516  1010_MTI_SAD_XX       S     50.0\n",
       "1        6977  1037_IWL_HAP_XX       H     50.0\n",
       "2        5760  1022_IWW_FEA_XX       F     50.0\n",
       "3       10512  1067_WSI_HAP_XX       H     50.0\n",
       "4        6911  1001_TIE_FEA_XX       F     50.0\n",
       "...       ...              ...     ...      ...\n",
       "219683   3578  1020_TIE_FEA_XX       F     50.0\n",
       "219684   6235  1041_MTI_HAP_XX       H     50.0\n",
       "219685   4656  1056_ITH_FEA_XX       F     50.0\n",
       "219686   3875  1090_IEO_ANG_MD       A     50.0\n",
       "219687   2391  1053_ITH_HAP_XX       H     50.0\n",
       "\n",
       "[219688 rows x 4 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ttr</th>\n",
       "      <th>clipName</th>\n",
       "      <th>dispEmo</th>\n",
       "      <th>dispVal</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>14516</td>\n",
       "      <td>1010_MTI_SAD_XX</td>\n",
       "      <td>S</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>6977</td>\n",
       "      <td>1037_IWL_HAP_XX</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>5760</td>\n",
       "      <td>1022_IWW_FEA_XX</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>10512</td>\n",
       "      <td>1067_WSI_HAP_XX</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>6911</td>\n",
       "      <td>1001_TIE_FEA_XX</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219683</th>\n",
       "      <td>3578</td>\n",
       "      <td>1020_TIE_FEA_XX</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219684</th>\n",
       "      <td>6235</td>\n",
       "      <td>1041_MTI_HAP_XX</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219685</th>\n",
       "      <td>4656</td>\n",
       "      <td>1056_ITH_FEA_XX</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219686</th>\n",
       "      <td>3875</td>\n",
       "      <td>1090_IEO_ANG_MD</td>\n",
       "      <td>A</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219687</th>\n",
       "      <td>2391</td>\n",
       "      <td>1053_ITH_HAP_XX</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>219688 rows × 4 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 217,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 217
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:10.780816Z",
     "start_time": "2025-11-27T21:32:09.946154Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Add an Actor column based on the clipName data, the actor ID is the first four characters of the clipName\n",
    "csv_data['Actor'] = csv_data['clipName'].str[:4]\n",
    "# Add a phrase type column based on the clipName data, the phrase type is the characters between the first underscore and the second underscore\n",
    "csv_data['PhraseType'] = csv_data['clipName'].str.split('_').str[1]\n",
    "# Drop clipName column as we don't need it anymore\n",
    "csv_data = csv_data.drop(columns=['clipName'])"
   ],
   "id": "8538ae1b2614ee42",
   "outputs": [],
   "execution_count": 218
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:11.451766Z",
     "start_time": "2025-11-27T21:32:11.354044Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Change Actor column dtype to int64 before merging\n",
    "csv_data['Actor'] = csv_data['Actor'].astype('int64')\n",
    "# Merge actor_data into csv_data based on the Actor column\n",
    "csv_data = pd.merge(csv_data, actor_data, left_on='Actor', right_on='ActorID')"
   ],
   "id": "5ae620f042200aa9",
   "outputs": [],
   "execution_count": 219
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:11.482768Z",
     "start_time": "2025-11-27T21:32:11.466856Z"
    }
   },
   "cell_type": "code",
   "source": "csv_data",
   "id": "8bb3061aceb3b8aa",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "          ttr dispEmo  dispVal  Actor PhraseType  ActorID  Age     Sex  \\\n",
       "0       14516       S     50.0   1010        MTI     1010   27  Female   \n",
       "1        6977       H     50.0   1037        IWL     1037   45  Female   \n",
       "2        5760       F     50.0   1022        IWW     1022   22    Male   \n",
       "3       10512       H     50.0   1067        WSI     1067   66    Male   \n",
       "4        6911       F     50.0   1001        TIE     1001   51    Male   \n",
       "...       ...     ...      ...    ...        ...      ...  ...     ...   \n",
       "219683   3578       F     50.0   1020        TIE     1020   61  Female   \n",
       "219684   6235       H     50.0   1041        MTI     1041   42    Male   \n",
       "219685   4656       F     50.0   1056        ITH     1056   52  Female   \n",
       "219686   3875       A     50.0   1090        IEO     1090   50    Male   \n",
       "219687   2391       H     50.0   1053        ITH     1053   35  Female   \n",
       "\n",
       "                    Race     Ethnicity  \n",
       "0              Caucasian  Not Hispanic  \n",
       "1              Caucasian  Not Hispanic  \n",
       "2              Caucasian  Not Hispanic  \n",
       "3              Caucasian  Not Hispanic  \n",
       "4              Caucasian  Not Hispanic  \n",
       "...                  ...           ...  \n",
       "219683         Caucasian  Not Hispanic  \n",
       "219684         Caucasian  Not Hispanic  \n",
       "219685  African American  Not Hispanic  \n",
       "219686             Asian  Not Hispanic  \n",
       "219687         Caucasian  Not Hispanic  \n",
       "\n",
       "[219688 rows x 10 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ttr</th>\n",
       "      <th>dispEmo</th>\n",
       "      <th>dispVal</th>\n",
       "      <th>Actor</th>\n",
       "      <th>PhraseType</th>\n",
       "      <th>ActorID</th>\n",
       "      <th>Age</th>\n",
       "      <th>Sex</th>\n",
       "      <th>Race</th>\n",
       "      <th>Ethnicity</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>14516</td>\n",
       "      <td>S</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1010</td>\n",
       "      <td>MTI</td>\n",
       "      <td>1010</td>\n",
       "      <td>27</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>6977</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1037</td>\n",
       "      <td>IWL</td>\n",
       "      <td>1037</td>\n",
       "      <td>45</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>5760</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1022</td>\n",
       "      <td>IWW</td>\n",
       "      <td>1022</td>\n",
       "      <td>22</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>10512</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1067</td>\n",
       "      <td>WSI</td>\n",
       "      <td>1067</td>\n",
       "      <td>66</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>6911</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1001</td>\n",
       "      <td>TIE</td>\n",
       "      <td>1001</td>\n",
       "      <td>51</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219683</th>\n",
       "      <td>3578</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1020</td>\n",
       "      <td>TIE</td>\n",
       "      <td>1020</td>\n",
       "      <td>61</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219684</th>\n",
       "      <td>6235</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1041</td>\n",
       "      <td>MTI</td>\n",
       "      <td>1041</td>\n",
       "      <td>42</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219685</th>\n",
       "      <td>4656</td>\n",
       "      <td>F</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1056</td>\n",
       "      <td>ITH</td>\n",
       "      <td>1056</td>\n",
       "      <td>52</td>\n",
       "      <td>Female</td>\n",
       "      <td>African American</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219686</th>\n",
       "      <td>3875</td>\n",
       "      <td>A</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1090</td>\n",
       "      <td>IEO</td>\n",
       "      <td>1090</td>\n",
       "      <td>50</td>\n",
       "      <td>Male</td>\n",
       "      <td>Asian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219687</th>\n",
       "      <td>2391</td>\n",
       "      <td>H</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1053</td>\n",
       "      <td>ITH</td>\n",
       "      <td>1053</td>\n",
       "      <td>35</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>219688 rows × 10 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 220,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 220
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Cleaning",
   "id": "3a10fac16395ac63"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:11.709110Z",
     "start_time": "2025-11-27T21:32:11.597467Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Remove rows with NaN values in dispVal column\n",
    "csv_data = csv_data.dropna(subset=['dispVal'])\n",
    "# Remove merging on actor related columns\n",
    "csv_data = csv_data.drop(columns=['ActorID', 'Actor'])\n",
    "# Remove outliers in ttr column with IQR method\n",
    "Q1 = csv_data['ttr'].quantile(0.25)\n",
    "Q3 = csv_data['ttr'].quantile(0.75)\n",
    "IQR = Q3 - Q1\n",
    "lower_bound = Q1 - 1.5 * IQR\n",
    "upper_bound = Q3 + 1.5 * IQR\n",
    "csv_data['ttr'] = csv_data['ttr'].clip(lower=lower_bound, upper=upper_bound)"
   ],
   "id": "8aa8a60c24051b05",
   "outputs": [],
   "execution_count": 221
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:11.848446Z",
     "start_time": "2025-11-27T21:32:11.800246Z"
    }
   },
   "cell_type": "code",
   "source": [
    "features = csv_data.copy()\n",
    "labels = features.pop('dispEmo')"
   ],
   "id": "dcf1103e97d6d273",
   "outputs": [],
   "execution_count": 222
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:11.933561Z",
     "start_time": "2025-11-27T21:32:11.916467Z"
    }
   },
   "cell_type": "code",
   "source": "features",
   "id": "6971b5eae85c2f54",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "            ttr  dispVal PhraseType  Age     Sex              Race  \\\n",
       "0       11753.5     50.0        MTI   27  Female         Caucasian   \n",
       "1        6977.0     50.0        IWL   45  Female         Caucasian   \n",
       "2        5760.0     50.0        IWW   22    Male         Caucasian   \n",
       "3       10512.0     50.0        WSI   66    Male         Caucasian   \n",
       "4        6911.0     50.0        TIE   51    Male         Caucasian   \n",
       "...         ...      ...        ...  ...     ...               ...   \n",
       "219683   3578.0     50.0        TIE   61  Female         Caucasian   \n",
       "219684   6235.0     50.0        MTI   42    Male         Caucasian   \n",
       "219685   4656.0     50.0        ITH   52  Female  African American   \n",
       "219686   3875.0     50.0        IEO   50    Male             Asian   \n",
       "219687   2391.0     50.0        ITH   35  Female         Caucasian   \n",
       "\n",
       "           Ethnicity  \n",
       "0       Not Hispanic  \n",
       "1       Not Hispanic  \n",
       "2       Not Hispanic  \n",
       "3       Not Hispanic  \n",
       "4       Not Hispanic  \n",
       "...              ...  \n",
       "219683  Not Hispanic  \n",
       "219684  Not Hispanic  \n",
       "219685  Not Hispanic  \n",
       "219686  Not Hispanic  \n",
       "219687  Not Hispanic  \n",
       "\n",
       "[219148 rows x 7 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ttr</th>\n",
       "      <th>dispVal</th>\n",
       "      <th>PhraseType</th>\n",
       "      <th>Age</th>\n",
       "      <th>Sex</th>\n",
       "      <th>Race</th>\n",
       "      <th>Ethnicity</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>11753.5</td>\n",
       "      <td>50.0</td>\n",
       "      <td>MTI</td>\n",
       "      <td>27</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>6977.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>IWL</td>\n",
       "      <td>45</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>5760.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>IWW</td>\n",
       "      <td>22</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>10512.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>WSI</td>\n",
       "      <td>66</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>6911.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>TIE</td>\n",
       "      <td>51</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219683</th>\n",
       "      <td>3578.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>TIE</td>\n",
       "      <td>61</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219684</th>\n",
       "      <td>6235.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>MTI</td>\n",
       "      <td>42</td>\n",
       "      <td>Male</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219685</th>\n",
       "      <td>4656.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>ITH</td>\n",
       "      <td>52</td>\n",
       "      <td>Female</td>\n",
       "      <td>African American</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219686</th>\n",
       "      <td>3875.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>IEO</td>\n",
       "      <td>50</td>\n",
       "      <td>Male</td>\n",
       "      <td>Asian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219687</th>\n",
       "      <td>2391.0</td>\n",
       "      <td>50.0</td>\n",
       "      <td>ITH</td>\n",
       "      <td>35</td>\n",
       "      <td>Female</td>\n",
       "      <td>Caucasian</td>\n",
       "      <td>Not Hispanic</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>219148 rows × 7 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 223,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 223
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:13.007699Z",
     "start_time": "2025-11-27T21:32:12.997979Z"
    }
   },
   "cell_type": "code",
   "source": "labels",
   "id": "f2bf79ffd04c2e12",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0         S\n",
       "1         H\n",
       "2         F\n",
       "3         H\n",
       "4         F\n",
       "         ..\n",
       "219683    F\n",
       "219684    H\n",
       "219685    F\n",
       "219686    A\n",
       "219687    H\n",
       "Name: dispEmo, Length: 219148, dtype: object"
      ]
     },
     "execution_count": 224,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 224
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:13.432769Z",
     "start_time": "2025-11-27T21:32:13.427768Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "id": "ac63a939a9a19817",
   "outputs": [],
   "execution_count": null
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Normalization",
   "id": "8e19604186751990"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:13.664464Z",
     "start_time": "2025-11-27T21:32:13.659982Z"
    }
   },
   "cell_type": "code",
   "source": [
    "import numpy as np\n",
    "from tensorflow.keras import layers"
   ],
   "id": "496ecf2b8afe9379",
   "outputs": [],
   "execution_count": 225
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:13.962534Z",
     "start_time": "2025-11-27T21:32:13.831432Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Replace categorical columns with ordinal values\n",
    "features['PhraseType'] = features['PhraseType'].map({\n",
    "    'IEO': 0,\n",
    "    'TIE': 1,\n",
    "    'IOM': 2,\n",
    "    'IWW': 3,\n",
    "    'TAI': 4,\n",
    "    'MTI': 5,\n",
    "    'IWL': 6,\n",
    "    'ITH': 7,\n",
    "    'DFA': 8,\n",
    "    'ITS': 9,\n",
    "    'TSI': 10,\n",
    "    'WSI': 11\n",
    "})\n",
    "\n",
    "features['Sex'] = features['Sex'].map({\n",
    "    'Male': 0,\n",
    "    'Female': 1\n",
    "})\n",
    "\n",
    "features['Race'] = features['Race'].map({\n",
    "    'Caucasian': 0,\n",
    "    'African American': 1,\n",
    "    'Asian': 2,\n",
    "    'Unknown': 3})\n",
    "\n",
    "features['Ethnicity'] = features['Ethnicity'].map({\n",
    "    'Not Hispanic': 0,\n",
    "    'Hispanic': 1\n",
    "})\n",
    "\n",
    "labels = labels.map({\n",
    "    'A': 0,\n",
    "    'D': 1,\n",
    "    'F': 2,\n",
    "    'H': 3,\n",
    "    'N': 4,\n",
    "    'S': 5\n",
    "})"
   ],
   "id": "b56b7b747abfd037",
   "outputs": [],
   "execution_count": 226
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:14.149829Z",
     "start_time": "2025-11-27T21:32:14.132040Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Normalize ttr column with the gaussian normalization method\n",
    "features['ttr'] = (features['ttr'] - features['ttr'].mean()) / features['ttr'].std()"
   ],
   "id": "85d45ee9a42542f8",
   "outputs": [],
   "execution_count": 227
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:14.260445Z",
     "start_time": "2025-11-27T21:32:14.242445Z"
    }
   },
   "cell_type": "code",
   "source": "features",
   "id": "90243322f76f8dba",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "             ttr  dispVal  PhraseType  Age  Sex  Race  Ethnicity\n",
       "0       2.336836     50.0           5   27    1     0          0\n",
       "1       0.628443     50.0           6   45    1     0          0\n",
       "2       0.193163     50.0           3   22    0     0          0\n",
       "3       1.892793     50.0          11   66    0     0          0\n",
       "4       0.604837     50.0           1   51    0     0          0\n",
       "...          ...      ...         ...  ...  ...   ...        ...\n",
       "219683 -0.587265     50.0           1   61    1     0          0\n",
       "219684  0.363054     50.0           5   42    0     0          0\n",
       "219685 -0.201701     50.0           7   52    1     1          0\n",
       "219686 -0.481038     50.0           0   50    0     2          0\n",
       "219687 -1.011815     50.0           7   35    1     0          0\n",
       "\n",
       "[219148 rows x 7 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>ttr</th>\n",
       "      <th>dispVal</th>\n",
       "      <th>PhraseType</th>\n",
       "      <th>Age</th>\n",
       "      <th>Sex</th>\n",
       "      <th>Race</th>\n",
       "      <th>Ethnicity</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2.336836</td>\n",
       "      <td>50.0</td>\n",
       "      <td>5</td>\n",
       "      <td>27</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0.628443</td>\n",
       "      <td>50.0</td>\n",
       "      <td>6</td>\n",
       "      <td>45</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>0.193163</td>\n",
       "      <td>50.0</td>\n",
       "      <td>3</td>\n",
       "      <td>22</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1.892793</td>\n",
       "      <td>50.0</td>\n",
       "      <td>11</td>\n",
       "      <td>66</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>0.604837</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1</td>\n",
       "      <td>51</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219683</th>\n",
       "      <td>-0.587265</td>\n",
       "      <td>50.0</td>\n",
       "      <td>1</td>\n",
       "      <td>61</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219684</th>\n",
       "      <td>0.363054</td>\n",
       "      <td>50.0</td>\n",
       "      <td>5</td>\n",
       "      <td>42</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219685</th>\n",
       "      <td>-0.201701</td>\n",
       "      <td>50.0</td>\n",
       "      <td>7</td>\n",
       "      <td>52</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219686</th>\n",
       "      <td>-0.481038</td>\n",
       "      <td>50.0</td>\n",
       "      <td>0</td>\n",
       "      <td>50</td>\n",
       "      <td>0</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>219687</th>\n",
       "      <td>-1.011815</td>\n",
       "      <td>50.0</td>\n",
       "      <td>7</td>\n",
       "      <td>35</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>219148 rows × 7 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 228,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 228
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:14.338824Z",
     "start_time": "2025-11-27T21:32:14.328825Z"
    }
   },
   "cell_type": "code",
   "source": "labels",
   "id": "e8f4ba119369fc65",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0         5\n",
       "1         3\n",
       "2         2\n",
       "3         3\n",
       "4         2\n",
       "         ..\n",
       "219683    2\n",
       "219684    3\n",
       "219685    2\n",
       "219686    0\n",
       "219687    3\n",
       "Name: dispEmo, Length: 219148, dtype: int64"
      ]
     },
     "execution_count": 229,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 229
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:15.024240Z",
     "start_time": "2025-11-27T21:32:14.970380Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Splitting features and labels into training and test data\n",
    "from sklearn.model_selection import train_test_split\n",
    "train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.2, random_state=42)"
   ],
   "id": "d93e45149e24c8fa",
   "outputs": [],
   "execution_count": 230
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:15.082999Z",
     "start_time": "2025-11-27T21:32:15.032301Z"
    }
   },
   "cell_type": "code",
   "source": [
    "np_train_features = np.array(train_features)\n",
    "normalize = layers.Normalization()\n",
    "normalize.adapt(np_train_features)"
   ],
   "id": "8efc84264f9c59ff",
   "outputs": [],
   "execution_count": 231
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Training",
   "id": "e6751a346c48940f"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:15.096417Z",
     "start_time": "2025-11-27T21:32:15.091020Z"
    }
   },
   "cell_type": "code",
   "source": [
    "import tensorflow as tf\n",
    "import matplotlib.pyplot as plt"
   ],
   "id": "d5cdc4a2393d5283",
   "outputs": [],
   "execution_count": 232
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:32:15.125439Z",
     "start_time": "2025-11-27T21:32:15.103441Z"
    }
   },
   "cell_type": "code",
   "source": [
    "model = tf.keras.Sequential([\n",
    "    normalize,\n",
    "    layers.Dense(64, activation='relu'),\n",
    "    layers.Dense(64, activation='relu'),\n",
    "    layers.Dense(6, activation='softmax')\n",
    "])\n",
    "\n",
    "model.compile(loss='sparse_categorical_crossentropy',\n",
    "              optimizer='adam',\n",
    "              metrics=['accuracy'])"
   ],
   "id": "81bf8d3e142e9bb",
   "outputs": [],
   "execution_count": 233
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:33:56.242833Z",
     "start_time": "2025-11-27T21:32:15.137969Z"
    }
   },
   "cell_type": "code",
   "source": [
    "history = model.fit(\n",
    "    np_train_features,\n",
    "    train_labels,\n",
    "    epochs=10\n",
    ")"
   ],
   "id": "bcf4885dab0116b4",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Epoch 1/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m11s\u001B[0m 2ms/step - accuracy: 0.1779 - loss: 1.7724\n",
      "Epoch 2/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1827 - loss: 1.7688\n",
      "Epoch 3/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1838 - loss: 1.7681\n",
      "Epoch 4/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m9s\u001B[0m 2ms/step - accuracy: 0.1845 - loss: 1.7678\n",
      "Epoch 5/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1852 - loss: 1.7676\n",
      "Epoch 6/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m9s\u001B[0m 2ms/step - accuracy: 0.1855 - loss: 1.7675\n",
      "Epoch 7/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1849 - loss: 1.7673\n",
      "Epoch 8/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1853 - loss: 1.7673\n",
      "Epoch 9/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m11s\u001B[0m 2ms/step - accuracy: 0.1863 - loss: 1.7672\n",
      "Epoch 10/10\n",
      "\u001B[1m5479/5479\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m10s\u001B[0m 2ms/step - accuracy: 0.1862 - loss: 1.7672\n"
     ]
    }
   ],
   "execution_count": 234
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:33:56.438337Z",
     "start_time": "2025-11-27T21:33:56.334506Z"
    }
   },
   "cell_type": "code",
   "source": [
    "metrics = history.history\n",
    "plt.plot(history.epoch, metrics['accuracy'])\n",
    "plt.legend(['accuracy'])\n",
    "plt.show()"
   ],
   "id": "c3bfbc2d6b925b58",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<Figure size 640x480 with 1 Axes>"
      ],
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAjAAAAGdCAYAAAAMm0nCAAAAOnRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjEwLjcsIGh0dHBzOi8vbWF0cGxvdGxpYi5vcmcvTLEjVAAAAAlwSFlzAAAPYQAAD2EBqD+naQAAQs1JREFUeJzt3Qd81dX9//F3dkL2AgIJe8gWCKiIVERxVUWqf+lAsKVays+K1YKgVaxWfuD8OflppVrlJxZLXSguBNq6ABkihj1DGCGDhOzxf5yTIQGE3OTe3PV6Ph555K7c+833JLnvnPM55wRUV1dXCwAAwIsEuvsAAAAAHEWAAQAAXocAAwAAvA4BBgAAeB0CDAAA8DoEGAAA4HUIMAAAwOsQYAAAgNchwAAAAK9DgAEAAF4nWD7syJECOXujhIAAKTEx2iXPDdrD2/H74XloE89CezTu/MjfA4wJGK4KGa58bjiO9vAstIfnoU08C+3RfAwhAQAAr0OAAQAAXocAAwAAvI5P18CcTnV1taqqKlVVVeVwgVFJSYnKy8uogXGRwMBABQYGKcCcbAAATsEvA0xFRbny83NUXl7SpK/PyQl0OPjAMaGh4YqJSVBwcAinDgBwkmB/7Hk5cuSA/S8/NjZJQUHBDv+nHxQUoMpKpiC5qn0qKytUWJhn26l161R6YgAAJwn2x96X6uoqxcYm2//ymyI4OFAVFfTAuE6YgoKClJNz0LZXSEioC18LAOCN/LaINyDAb791r0D7AABOh3dxAADgdQgwAADA6xBgAACA1yHAAAAAr+N3s5C82YYN6/Tcc09py5YMO7X47LMH6a677lVSUpK++OIzPf/8M9q9e5dSUzvo1ltvV3r6UPt1H3zwnl5++UUdPHhA3bv31O9/P009epylP/95lr3/7rtrPhvDh6frySfnadCgdF133VW66KJL9MEHS5SQkKj58xfoP/9ZqRdf/F/7OqGhoTrnnGGaPv0etWrV6gdfKzY2zj7XX/7yinr2PMs+Ljc3R2PGXK4FC95QamqaW84nALSksooqLd6QpcLKalWVVygiJEjh5iM4sPZy4A/eFhYcqEAW92yAAHPc+iMljZwaHVxVrYrK5k+jNj+gjV2DprCwUNOmTdUNN/xcf/zjn5SdfVgPPfQnvfrqX3X11WM1ffrtuummX2vUqNFavnyZZsy4QwsX/lPbtm3V7Nl/0tSpdyo9/Ry98cZCTZt2uxYtertRr/vRR0v12GPP2IX79u/P1D33TNfvfz9dQ4aco7179+hPf7pHb7+9WOPG/UJffvn5D75W//5na/nyT+oDjDlGE3AILwD8wYGjJZr+znfadKCgyc8RVhdqjgs34cddj6i//n3wsbfVXg8/7vrxX193W1Cgd61+ToCpDS+TFq7Xhv1HW/TkD2gXoxfGDWhUiCktLdGECZM0btzP7ePbtWuvCy+8SN99962WLHlL/foN0MSJk+xjx4+fqJKSYht63nprsS655DKNGXOdvW/KlKl2ddujR/MbdYyjR1+url272csmsEyd+gddffW19npKSjsNHjxUO3fusNdP91oXX3ypXn99gW65ZYq9b9myj2zYAgBf98WuHN2zJEP5JRWKDQ/WTwanKb+wRMXllSopr6r5XFGlkuOu191Wetw/1qUnXHe20KCAE3p/GgagBr1EwYEa1jlBA9rHyl0IMLU8PXcmJibp8st/bEPA1q1btGvXTm3btsUGlz17dqtnz14NHv/rX0+2n819Y8aMrb89JCRE//VfUxv9uikpKfWX09I62EXlzBDRjh3btWvXDhteLr30ijO+1siRF+uJJx7W1q2b7fdihsNMTxIA+Kqq6mrN/2KPnv9st8za7b3aRGnO1b3Vv2uysrMLGrWfnnkOE1oahJ3acFPcIPCYcFN5ylBk7iux99WFpIZfX3cYZZXVKqusUGP/lV+acVhvTaopVXAHAoxdNC3A9oQ0eggpKLDFh5AOHz6kSZPG26BihmdML8hnn/1b3377jYKDf7gZT3efeW3T+1SnoqLipMeEhobVXzbB6be/naThw0fY+hvTG/T3v7/WqNeKi4uzx22GjpKSktWnTz+1bt3mjN83AHij/OJy3ff+Zv1nZ469fm3/trpjZDfbg+EIU/dSMxQU5JLjrK4NSCXHhZya8FMbik4IQHWhx4SlczrGy50IMMe9mTf2B6RmK4GW7bNZufJTRUfHau7cJ+pve+ON1+1nU7S7ZcvmBo//zW9+qeuuu8HWmJg6mDqVlZUaN+5a2/thAkd+fl79fabG5XRMge7ZZw/Uffc9WH/bvn171LFj59rj+OHXMjUwl1xyqRYuXKDWrVszfATAZ2UcLND0tzdp/9FSW7cyfVQ3XdW3rTz1vS+8drhI8q7Nc5lG7SViYmLtzJ7Vq79SZuY+vfrqS1qxYpnKyso0ZsxPtGHDWi1c+Kr27durV175q3bu3G57SUyI+fDD9/X+++/a+5566jFbkGuKaXv16qNVq76yz7ljxzY99tgcO+zzQ2JjY7V9+zZt2rTRDhc99dTj+u67TSovL7P3n+61jBEjLtTevbu1du0aXXTRxS127gCgpbz1TZZ+9do6G17ax4brxZ+e7bHhxds53ANTWlqq+++/Xx9++KHCw8P1y1/+0n6czurVqzV9+nR98sknDbqtnn76aS1atEjFxcU6//zzde+99yohIcHeb96YZ8+erXfffde+qV533XW6/fbb/XZnYjOdef36tXYWkDkHvXr1tvUlZkpzcnJrPfjgXM2b95Sef/5ZderURXPmPG6HasyHmTX017++oCNHsnXWWb1tL05YWLitXfnmm/V2xlJUVLQmTfqNDR4/5LrrxtmenqlTp9gp1KY3xsx8+vjjD+z9JjD90GsZrVpF6txzh+nYsWOKj69pZwDwBWYY5uFPtumtjQfs9eFdEnT/5T0VE+5dvRreJKD6+CKIRnjggQe0atUqGy72799vg8lDDz2kyy677JSP37x5sw04YWFhWrZsWf3tCxcu1HPPPaeHH37Y1kfMmjXL/odvbjNMmPnyyy/t/eYNz4SXqVOnaty4cY0+1lMVSZnegiNHspSYmNLkXY7ZjbrpJk/+pX784zG68sqrT/u4xraTybNJSdGNLoiDa9Eenoc2cb3M/GLd9fZ3yjhUKDMT+Tfnd9KEoWmnXLeF9ji9uvPj9B6YoqIi22PywgsvqE+fPvZj69atWrBgwSkDjAkpc+bMUVpamp3Se7wVK1boiiuu0NChNRXMkyZN0h133GEv5+Xl6R//+If++te/qn///vY2E4LWr1/vUICB5/j669V25tHOnTvtjCQA8AX/2ZGje9/P0NGSCsVFhOjBK89ye3Grv3AowGRkZNiZKgMHDqy/bfDgwZo3b56tdQgMbFhSs3LlShtgTHgxw0XHM70uy5cv18SJE23Py5IlS9SrV81U4DVr1igqKqo+3Bg333xzU79HeIClS5foX/9aoWnT7q5ftRcAvFVlVbVe+Hy3Xvxij73ep220/vuqXmobUzNkDg8LMIcPH1Z8fLytf6hjlrE3dTGm16SufqXOs88+az8vXrz4pOeaMmWKJk+erBEjRigoKEjJycl6/fWaWTV79+5V+/bt9eabb9pwVF5errFjx9rHnxiSTudU5TJ+WkLjdjNn3tekrzPtdbo2q7uPdvUMtIfnoU2cL6+oXPe8l6EvduXa69efnaLbL+yq0OAzvz/RHqfnyN9yhwKMKbY9PrwYdddN0a0jMjMzbRGwCSgxMTGaO3euZs6cqfnz59uhqt27d9shKFNrY4KTqYmJiIg4Y8Hw8RITTx5HKykpUU5OoIKCAmwtS1M152txZlVVATasxsdH2p+TprQ13If28Dy0iXOs35un3/7fOmXmFds1XWaP7adrB6bSHm7gUIAxhbgnBpW66415k6lj6oZN8e+0adM0cuRIe9sTTzxhL5s6F7M+iRl2evTRR21PjGEKhl977TWHAsyRI6cu4jXDXZWV1apo4pLMFPG6nmkf0065uccUElJ+2rRu/jCfqq3R8mgPz0ObOId53zIbMT6ybLvKK6uVFheuh6/po27JkXYSAe3h3J9XpweYNm3aKDc319bB1K26anpHTHgxvSiNlZOTo6ysLPXs2bPBkvVmeMr0zJjhJBOW6sKL0blzZ/s1jjBvaCe+qdVdd3DyFVpYXfucqg1P/fjGPQ4tg/bwPLRJ05ml9//7461asumQvX5ht0Tdd1lPRYUFN/nvDu3RfA6Ng5giWxNc1q1bV3+bKbjt16+fQ7UppmjXDD1t3769QagxdTSpqakaMGCArasxM1bq7Nixo0GgaSpTb2OUlZU2+7ngOnXtExTEYtEA3GdvbrF++do6G17MFOlbL+isuVf3tuEF7uVQC5galDFjxtg1W8zaL4cOHbI1K6ZOpa43Jjo6+ozDSSYEmaJcM0PJ9LqYQGMum+BiwpBZqO3CCy/UjBkz7GuZ533++edtEW9zBQYGKSIiSoWFufV7/Ti6OJ6pzzBDHHBNz4sJL6Z9TDs5EowBwJlWbDuiWUszVFhaqYRWIXrox700OC2Ok+whHI6QdaFiwoQJdqrzrbfeqtGjR9v7hg8fbsOMCSdnYgp2Td2LWfvF9LYMGzbMLlpXFyYeeeQRu2jeT3/6Uxucfv7zn2v8+PFyhpiYmtlSdSHGUeZN1dRnwHVMeKlrJwBoSRVV1frf/+zSS1/VrEzev12MZv+4l1pHf7+5LbxwJV5vcqbVWWuKeU/egfl0TL4yM2NMcanvnjn3MsNGje15YVVLz0J7eB7axDE5RWW6e0mGVu+p2eh23KD2um1EZwUHOac3mPZw00q8vsa8SQYGhjp8cs0QmZkZQ4ABAN/xzf6juuudTTpUWKaIkEDdM7qHRp/V2t2HhR/g1wEGAAAzELFo3X49vnyHHT7qlBChOVf3VpfESE6OByPAAAD8VnF5pf784RZ9kHHYXh/VI0l/vLSHIkN5e/R0tBAAwC/tzinStLc3aceRIgUFSL/7URf9dFB7h2emwj0IMAAAv7Nsa7b+tHSzjpVVKjEy1M4yGpga6+7DggMIMAAAv2FqXJ751069unqfvW5Ci1nfJSnSsQkdcD8CDADAL2QfK9PMd7/T2n359vov0lM1ZXgnp02RRssiwAAAfN66ffma8e53NsREhgbp3kt76KIeye4+LDQDAQYA4NNTpF/7OlNPrtghswNM58RWdi+jTgmt3H1oaCYCDADAJx0rq9CDH2zVx1tqpkhfelayZl7SQ61Cazb1hXcjwAAAfM7OI2aK9LfalVOsoMAA/f7CLrr+7HZMkfYhBBgAgE/5aPNhPfDBZhWXV6l1VKhmX9XbbsgI30KAAQD4hIrKKv3Pyp1a+HWmvZ6eFqs//7iXEloxRdoXEWAA+D1T6Jl1tFRbDx/T9uxj9vPBghKd0zFePxmQoqSoML8/R57ucGGpZrzzndbvP2qvTxiapt+c30nBgayq66sIMAD8SmFphQ0p22qDyjbzkX3Mrsh6om+yCvTXr/bq4h5J+n8D26tfSjQ1FB5ozd48u75LTlG5nSJ9/+U99aNuSe4+LLgYAQaAT6qsqtbe3OKaoGICiw0rhdp/tPSUjzf/qZsptt2SItU9OVLRYcF699uD9j96s9Gf+ejVJko3DGyvS3omKzSYxc88oefMrKhrVtY1U6RNu825qrfS4iPcfWhoAQQYAF4vt6jspB4Vs0FfaUXVKR9vCju7J0epa21Y6ZYcqU7xESetyDqmf4oyDhbo9bX79WHGIX13sFCzlm7W/6zYoWv7t9VPBrRT62iGl9zVk3b/0s1avu2IvX5F79aacXF3hYcwRdpfBFSbCOujsrML5OzvzmxSmpQU7ZLnBu3h7Vz9+1FWUaVdOUUNworpXTlyrOyUjw8PDrThxPSq2I/ay7ERIU0KSW9+c0BvrNuvQ4U1r2d2MB7ZPVk3DGynAe1jPHJ4yRf/Zpn2n/72Ju3JLVZIUIDuGNlVY/uneOT594f2cMX5aQx6YAB4HPN/1cGCUm3PLtLWw4X1gWV3brEdGjqRedtKjQtXt+QodUtqZT93T4pU+7hwBTrpTS2+VahuOqeDxg9J04pt2bZXxuypYxZJMx89kiN1w6D2Gt0zmV4AF3r/u4N66MOtKqmoUpvoMM25qpf6pDBF2h/RA+PoCSM9exTaw/vbo6isUjuONOxRMZ8LSitO+fiY8OD6OpW6IaAuiZFuWV11y6FC/X3tfi3NOFQ/XBUbHmyHnq4bkKK2MeFyN1/5HSmvrNLjy3do0br99vo5HeP04BW9FNfK8d40d/KV9vCEHhgCTBNPLj98noH28J72qKquVmZeSW1AKawJLNnHtC+v5JTPZVZP7ZQQURtWouqHgEz9iqcNFeQVl+ut2uGlAwU1RcJm9u6F3czspXYalBrrtmP29t8R0xP32c4c/XNDlq1BMn51bgf9+ryO9mfE23h7e7gaQ0gA3Cq/uPykHhUzddl0+59KUmSoDSfdj6tTMZvtectMn7iIELvuyM/TU/Wv7Uf097WZWr03X8u2ZtsP8/2YOpnLerVmeKkRPS3rM4/a0PLZrhw7jFjHzAz70xU9NbxLoqubFF6AHhhHTxjp2aPQHp6jpLxSC9bs09sbD2p//ql7VcKCA9UlsVXtzJ/aepWkSFtf4mtMaPv7uky9t+n74SUz/HVN37a67ux2ahfbMsNL3vA7cuBoSU1g2ZmrVXvyVFT+/Zo8po+lb0q0zuucoKv6tPGIYTlfbw93YgipFrOQfB9/DDyj4PbTbUf0P8u3N1hjxbxB1/Wo1NWrpMVFeGW3f3N7o97eWDO8VHd+zCkY0TXRDi+lp8W5dHjJE39HzGyydZn5NrCYXhaz8eLxElqF6LxO8TqvU4LO6RRve7h8hSe2hychwNQiwPg+/hi4l6lhefTT7Vq9J89ebxMdqplX9taA5FaKDGWS4/HM7Kl/78ixw0tf1Z4vw/RImeGly3u3UYQL1jDxlN8R0ytX08uSo9V78+xGi3VMoOubEqNhneM1rHOCeraOctrsMU/jKe3hqQgwtQgwvo8/Bu7rVXj+s936x/r9dgVUMzT0i/RUTRyaprR2cfxxPgMz68rMXnpv08H6N3JT33FV3za6/ux2So2L8PrfEdPLYqaZmx4WE1p25RQ3uD8xMrS2lyXe7jnVlLV5vBF/s06PAFOLAOP7+GPQ8r0Ib36Tpef+vUv5JTXTnC/qnqTbftTFDhnRHo4pKKnQO98esFOD62ZjmX6H4V0S7JYFQzs2f3ipJdtkX16xHRb6fFeO7ZU7vmjbLPrXr53pZUnQsE4J6t460md7WU6H35HTYxYSAKf7el+eHlm23c4uMromtbIroA7pEM/ZbqLo8GD9bHCqxg1qb3spzOJ4X+zK1b925NgPM43cbCJ5Ze82blnn5kxMcbL5ubC1LDtz7Mq4J84uM8NCtpalY7z9fgFnYRaSoyeM8UuPQnu0zAyRJ1fu1EebD9fPpLllWEeNHdDOboBIeziX2Sph0dr9diPJutk4Zoflq/q21f87u53DGxU6+3fEbJBZN8V5zd78BvtNmV6W/u1jNaxTTS2LKd72tDV73I2/WafHEFIthpB8H38MXDst+pXV+/TyV3vtm5TJKtf2T9FvhnX6wdVPaQ/nblZoQowZXjq+Z+P8zgl29tK5neIbNQTT3DYxPwdr9uXr89oC3L0nLDxoFhY0U5xNaBnaMV5RYfSyuLI9fF0AeyEBaM60aLP4mtlxOat22u/A1FjdObKrerSO4sS2EBMEzNCSCStmWMkU/f5nZ079R4f4CFvw++M+bZwaGkz7m8D02a6aYSFTiNuglyUwQGe3j7F1LKaXxQwl0ssCdyAqA2iw+Nqjn26zq8gaZrM8U6B7cY8k3qTcxPSy2MLXzgk2WJgemXc2HrCXzRR2U1BtQsz1A9vZ1Yubotj0suz9vpYl84SFCM3PgZ3i3ClB6R3i6GWBR6AGxtETRvefR6E9nDct+n9rp0VX1U6LHp+eapfHD3dgbRLao2UcK6vQkm8PadG6zAbTk82wkllTxoSduuGlU7WJ6WXZnWN6WXLqe1nKzHz4Wqa26ezU72tZzFo19LI4B78jp8cQEoBGT4s2m+TN+8/306JH9UjS70bUTIuGZ4oMDbZDS9efnaKvdufp9bWZdpE8M9RkPlLjwu3w0lV92iomIrh+12+zTL8JLKae5fhVk42UGNPLkmBnDKV3iGUhQng8emAcPWH0wHgU2qPpzJCBGYI4flr0nSO72SEC2sP7mDVYzPCS2bagsLRm9lJESKAu7pmsnJIKfbUzR+XH9bKEBAVooJkxVDs8ZaZs08vievzNOj1mIdViFpLv44+B47LMtOgVO/TxluzjpkV30tgBKSdNi6Y9vI/paXn/u4N2TZkT9xgyvWp1w0KD0+I8cm0ZX8ffrNNjCAnAqadFr9qnl1d9Py16bP8U3XJ+J5/aLM/fmVDykwHtbNuaPYdWbDuiHu3jNKB1K3WIo5cFvoNZSICPMwWbn2ypmRZ9oKCm7mGQmRZ9UVd1T2ZatK8yw0FmlWSzNgvrjsAXEWAAH7b1cKGtczErphpta6dFm0Jd6h0AeDMCDOCD8sy06P/s0uINWfXTom8ckqobhzg2LRoAPBUBBvAhFVXVWrw+S89/9v20aLMI3e9+1EUpMUyLBuA7CDCAj1i9p2Za9LbsmmnR3ZIibZ2LmW0CAL6GAAP4wLRoU6BrCnWNWDMt+vxOduPF5k6LBgBPRYABvHhatNkp2uwYXTct2kyfvXlYR6ZFA/B5BBjAC6dFm0XoTK/Lwdpp0YPTYnXHSKZFA/AfBBjAi2w5VDMt+ut930+LnnphF13UnWnRAPwLAQbwAnlF5Zr32S678WLdtGizU7TZMZpp0QD8EQEG8Php0fv1v5/t1tH6adHJuu1HndWWadEA/BgBBvBQq/bk2uGi7dk1G/J1T460dS5MiwYAAgzgcfbn10yLXrb1+2nRvzm/k8YwLRoA6tEDA3jQtOiXvtqrV4+bFn1d7bToWHaLBoAGCDCAB0yL/mjzYT25cmf9tOh0Oy26m7olR7r78ADAIxFgADcyy/4/smxb/W7RKTFhmvqjLhrJtGgAOC0CDOAGBSUVev7z3Vq0NlOVddOih6Rp/BCmRQNAYxBggBZUVV2td789qGf+tVM5ReX2NtPbYnpd2sWyWzQANBYBBmghmw4U6OFl27Qxq8Be7xgfYXeLPrdTAm0AAA4iwAAtsIruM//eqbe+OaBqSa1CgjTpvA4aN6i9QoICOf8A0AQEGMClq+hm6X8/21W/iu7lvVrr1hGdlRwVxnkHgGYgwAAusG5fvuYu26ath4/Vr6L7h4u6aWBqLOcbAJyAAAM40eHCUruey9LvDtnrMbWr6F7LKroA4FQEGMAJyiurtPDrTP3l8z0qKq9UgKQx/dvqt+d3VlyrEM4xADgZAQZopi925eiRZdu1O7fYXu+bEm2Hi3q3jebcAoCLEGCAZmy6+Pjy7Vq+7Yi9ntAqRP91QWdd2aeNAgNMHwwAwFUIMEATNl18ZdU+vbxqr910MShA+n8D29tNF6PC+JUCgJbAX1vAgU0XV24/osc+3a79R4/bdPGibuqWxKaLANCSCDBAI+zKKdKjn27XF7ty7fXWUaGaemFXXdwjSQEMFwFAiyPAAKdRVFapF7/Yo/9bs88uTBcSFKBfpKfqpnM6KCIkiHMHAG5CgAF+YLjog4zDenLlDh0uLLO3nd85QXeM7Kq0+AjOGQC4mcMbsZSWlmrmzJlKT0/X8OHDNX/+/DN+zerVqzVq1KiT3iCeeuopjRgxQkOGDNHUqVOVk5Nzyq+/+eabdddddzl6qECTbD1cqFv+vkF/fC/DhpfUuHA9NqaPnhjbl/ACAN4aYObOnauNGzfq5Zdf1n333aenn35aS5cu/cHHb968WbfddpsNLMd7/fXX9cYbb+iRRx7RggULdOjQId19990nff2SJUu0YsUKRw8TcNjRknI9smybfvHK11q7L19hwYGafH4nLZyQrgu6JnJGAcBbh5CKioq0aNEivfDCC+rTp4/92Lp1qw0gl1122UmPX7hwoebMmaO0tDQVFhY2uM+EkiuuuEJDhw611ydNmqQ77rijwWPy8vJsYOrXr1/TvjugEaqqq/X2Nwf0zL93Ka+43N5minNv+1EXtY0J5xwCgLf3wGRkZKiiokIDBw6sv23w4MFav369qqqqTnr8ypUrbYCZOHHiSffFxcVp+fLlOnjwoEpKSmxPS69evRo8xnztNddco27dujn2XQGN9G3WUd30f+v054+22vDSObGVnrmun2Zf1ZvwAgC+0gNz+PBhxcfHKzQ0tP62pKQkWxdjeksSEhIaPP7ZZ5+1nxcvXnzSc02ZMkWTJ0+2NTBBQUFKTk62w0p1Pv/8c1s7884772jWrFlN+d7kitmtdc/JzFnP0NT2yDlWZntc3vrmgL0eGRpkF6K7YWA7BQc5PLKKZrYHXIc28Sy0R+POj9MDTHFxcYPwYtRdLyurmanRWJmZmQoPD9e8efMUExNjh4pMcbApCjaByNTX3HvvvfYxTZWY6Lq9aFz53HBde1RUVumVL3brsY+2qKCkwt72k0Gpmn55T7WOZrjIWfj98Dy0iWehPZrPoQATFhZ2UlCpu+5I0DAFvdOnT9e0adM0cuRIe9sTTzxhL5vhqI8//lh9+/bVBRdcoOY4cqRAJ9QOOyUdmh88Vzw3XNsea/bm6eFPtmtb9jF7vWfrKE0b1VUD2sdKpeXKLq2pf0HT8fvheWgTz0J7NO78OD3AtGnTRrm5ubYOJjg4uH5YyYQX04vSWGa6dFZWlnr27Fl/W0pKih2eMj0zph4mOzu7vtamLiR98MEHWrt2baNfx7yhuSpkuPK54dz2OFhQqidX7NCHmw/b67Hhwfrt8E66pl+KggIDaEcX4PfD89AmnoX2aD6HAowpsjXBZd26dXYdGGPNmjV2llBgYOPrBmJjY+3Q0/bt29W1a9f6UGPqaFJTU/XKK6/YkFTHTLU27rzzTkcOF36urKJKr32dqRe/2K3i8iqZodWxA1L0m/M7KS4ixN2HBwBoqQATERGhMWPG2KLahx56yK7dYmpWZs+eXd8bEx0dfcbhJBOCxo4da2cZmV4XE2jM5QEDBtgwdOLeMpGRNRvldezY0fHvEH7ps505du+iPbnF9nr/djH6w0VddVYbapcAwC+3EpgxY4YNMBMmTFBUVJRuvfVWjR492t5nVuY1YcaEkzMxBbum7sWs/WKKdocNG6aHH36YjfHQLPvyivX48h1212gjoVWIXc/l8l6t+dkCAB8SUH3iErk+JDvbNUW8SUnRLnluNL099mXl6aUv9+pvq/aqrLLa1raMG9hek87roKgwtvxqKfx+eB7axLPQHo07P43BX3Z4NZO/l27M0qy3vtWBglJ725AOcbrzoq7qklgz9AgA8D0EGHit4vJK3ff+Zn26Ndtebxsdptsv7KKR3ZMYLgIAH0eAgVfKPlam3/9zo747WKjQoEDdOCRVE4amKTwkyN2HBgBoAQQYeJ0dR45p6uKNyjpaqtiIYM2fOEQdI0OoSQIAP8KmL/Aqq/fk6VevrbPhJS0uXC/9bKAGd2y4BxcAwPfRAwOvseTbg3rwwy2qqKrWgHYxeuSaPoqPZEE6APBHBBh4xUyjv3yxR89/tttev7hHsmZd3lNhwXQgAoC/IsDAo5VXVunPH221vS/GjUPSNOWCTgp0ZM91AIDPIcDAYxWUVGjaO5ts3UtQgDTt4u4a2z/F3YcFAPAABBh4pKyjJbpt8UbtPFKkViFBmn1VLw3rTLEuAKAGAQYeZ9OBAv3+zW915FiZWkeF6vFr+6pH6yh3HxYAwIMQYOBRzCaMd7/7nUoqqtQ9OdKGlzbRYe4+LACAhyHAwGP8fW2mHv10u6qqpXM7xWv2j3uxESMA4JQIMHC7yqpqPblyh/5vTaa9fk2/trprVDcFBzFNGgBwagQYuFVJeaX++F6Glm87Yq9PGd7J7mkUwDRpAMBpEGDgNjlFZkPGb/XtgQKFBAVo1mU9Nfqs1rQIAOCMCDBwi11HinTbPzdqf36JYsOD9fA1fTQwNZbWAAA0CgEGLe7rfXn6w1ubdLSkQu1jw/XE2L7qlNCKlgAANBoBBi1q6XeH9KcPNqu8slr9UqL16Jg+im8VSisAABxCgEGLbcj41y/36rn/7LLXL+qepPsv76nwkCBaAADgMAIMXK6iskqzP96qtzfWbMg4Pj1V/zWiMxsyAgCajAADlyosrdBd72zSl7vzFBgg3XlRN11/djvOOgCgWQgwcJkDR0t0+z+/1bbsY4oICdRDP+6l4V0SOeMAgGYjwMAlNh8s1NR/blT2sTIlRZoNGfvorDbRnG0AgFMQYOB0/9mRoxnvblJxeZW6JrXSE9f2VduYcM40AMBpCDBwqn+s36+5n2yzGzIO7RCnOVf3ZkNGAIDTEWDgFFXV1Xp65U69snqfvX5VnzaaeUl3NmQEALgEAQZO2ZBx1tLN+mRLtr3+m/M76pfndGBDRgCAyxBg0Cy5RWW6481N+ibrqIIDA/THS3voit5tOKsAAJciwKDJducU2ZlG+/JKFB1mNmTsrcFpcZxRAIDLEWDQJOv25evOt75VfkmF2sWE6Ymx/dQ5kQ0ZAQAtgwADh32YccjWvJgNGfu0rdmQMTGSDRkBAC2HAAOHNmT826p9evpfO+31C7sl6oErzmJDRgBAiyPAoFEqqqo195Ot+ueGA/b6zwa31+9GdFGQ2eAIAIAWRoDBGR0rq9CMd77T57ty7YaMv7+wq24Y1J4zBwBwGwIMTutgQalu/+dGbT18TOHBgXrwyl76UTc2ZAQAuBcBBj9oy6FCG14OFZYpoVWIHr+2r3q3ZUNGAID7EWBwSp/vytFdb3+novJKdU5opSfG9lW7WDZkBAB4BgIMTvLPDVma8/FWVVZL6Wmxmnt1H0WH86MCAPAcvCuhwYaMz/17l176aq+9fmXv1rp7dA+FBAVylgAAHoUAA6u0okp/WrpZH24+bK/ffF5HTTqPDRkBAJ6JAAPlFZfrD299q3WZR+26LveM7q4f92nLmQEAeCwCjJ/bm1tsN2Tck1usqLAgzb26t4Z0iHf3YQEAcFoEGD+2Yf9R3fHmt7YHJsVuyNhXXRIj3X1YAACcEQHGT63Ylq2Z736nsspq9WoTpceu7askNmQEAHgJAoyf7mv0pw+22PAyomuiHrzyLEWEBLn7sAAAaDQCjB/KOFigoyUVig4L1pyreyuYDRkBAF6GBT780Ko9efbz4LRYwgsAwCsRYPw4wAzpEOfuQwEAoEkIMH64YJ2ZfWSkE2AAAF6KAONnvtl/1IaYxMhQu0kjAADeiADjZ1btrRk+Mps0BgQEuPtwAABoEgKMn1m1uybADGW1XQCAFyPA+JFjZRXadID6FwCA9yPA+JG1+/JVWS21jw1Xu9hwdx8OAABNRoDxw+nTzD4CAHg7AowfBpihTJ8GAHg5AoyfyCsq19bDx+zlwWksYAcA8G4EGD+xunb6dNekVnYNGAAAvBkBxs8CTDq9LwAAH0CA8bv9j+LdfSgAADQbAcYPHDhaoj25xQoMkAalxrr7cAAAaDYCjB8NH/VqE63o8GB3Hw4AAM1GgPEDq1n/BQDgYwgwPq66uvr7+hcKeAEAPoIA4+NM7cuhwjKFBAVoQPsYdx8OAABOQYDxk/qXfikxCg8JcvfhAADgFAQYv5k+zeq7AADfQYDxYVXV1fUFvAQYAIBfB5jS0lLNnDlT6enpGj58uObPn3/Gr1m9erVGjRp1UnHpU089pREjRmjIkCGaOnWqcnJy6u8/ePCgfve732no0KG64IILNHv2bPvaaDyz91F+SYUiQgLVp200pw4A4L8BZu7cudq4caNefvll3XfffXr66ae1dOnSH3z85s2bddttt9nAcrzXX39db7zxhh555BEtWLBAhw4d0t13323vM4814aW4uNje9/jjj+vTTz/VE0880ZTv0W/V9b4MTI1VcBCdbQAA3+HQu1pRUZEWLVpkg0afPn10ySWXaNKkSTZknMrChQs1btw4JSYmnnTfihUrdMUVV9gelh49etjn+eKLL+x9O3bs0Lp162yvS/fu3W1vjwk07777blO/T7/E9gEAAF/lUIDJyMhQRUWFBg4cWH/b4MGDtX79elVVVZ30+JUrV2rOnDmaOHHiSffFxcVp+fLldqiopKRES5YsUa9evex9ycnJ+stf/qKkpKQGX1NYWOjI4fq1isoqrd2Xby+z/gsAwNc4tK784cOHFR8fr9DQ0PrbTMgwtSl5eXlKSEho8Phnn33Wfl68ePFJzzVlyhRNnjzZ1sAEBQXZ0GKGlYyYmBhb91LHhKNXX31V5557rkPfXECAQw936Dld8dzOtOlggYrKKxUbHqwebSI9/nh9vT38Be3heWgTz0J7nJ4jf8sdCjCmJuX48GLUXS8rK3PkqZSZmanw8HDNmzfPBhZTW2OKg09VFPzwww9r06ZNtmbGEYmJritcdeVzO8Om9Qfs52HdktQ62fcXsPP09vA3tIfnoU08C+3RfA4FmLCwsJOCSt11E0YayxTpTp8+XdOmTdPIkSPtbaZA11w2w1EDBgxoEF5MwbAp5DW1Mo44cqRAJ9QOOyUdmh88Vzy3My3POGg/D2gbpezsAvkqb2kPf0F7eB7axLPQHo07P04PMG3atFFubq6tgwkODq4fVjLhxfSiNJaZLp2VlaWePXvW35aSkmKHp0zPTF2AeeCBB/Taa6/ZEHPppZfKUeYNzVVvaq587uYqKa/Uhv1H7eXBaXEee5z+0h7+iPbwPLSJZ6E9WriI1xTZmuBiZgjVWbNmjfr166fAwMY/VWxsrB162r59e4NQY+poUlNT7XUzPdvMYnrsscd05ZVXOnKYfm/9/qMqr6xW66hQdYyP8PvzAQDwPQ71wERERGjMmDGaNWuWHnroIbt2i6lZMdOd63pjoqOjzzicZELQ2LFj7Qwl0+tiAo25bHpeTBgywcYUAN988812lpN53jqm2BeNW/8lvUOcAqhuBQD4IIdXN5sxY4ZdA2bChAm6//77deutt2r06NH2PrMy73vvvdeo5zEFu+br7rjjDo0fP94OQZnQYt5wP/nkE1VWVuq5556zz3n8B86M/Y8AAL4uoPrEJXJ9iCledUURb1JStEue2xkKSys06pnPVFUtvfProWob0/jiam/k6e3hb2gPz0ObeBbao3HnpzFYX97HrNmbb8NLWly4z4cXAID/IsD4mNV763afjnf3oQAA4DIEGB+zak9ufQEvAAC+igDjQ44cK9P27CJ7OT0t1t2HAwCAyxBgfMia2uGj7smRim/VcMsHAAB8CQHGhzB9GgDgLwgwPljAm55G/QsAwLcRYHxE1tES7csrUVCANDCV+hcAgG8jwPjY8FHvttGKCnNohwgAALwOAcZHUP8CAPAnBBgfYHaDOH4DRwAAfB0BxgfsyilW9rEyhQYFqH876l8AAL6PAONDw0f928cqLJgmBQD4Pt7tfGj7gKEMHwEA/AQBxstVVlXr63359jLrvwAA/AUBxsttOVyooyUVigwNUq+20e4+HAAAWgQBxsvVzT4yi9cFBwa4+3AAAGgRBBgv91VtgBlC/QsAwI8QYLxYeWWV1tXWvxBgAAD+hADjxTZmFaikokpxESHqmhTp7sMBAKDFEGC8WP3qu2lxCgyg/gUA4D8IMF5s1d66+hdW3wUA+BcCjJcqLq/UN/uP2stDOsS7+3AAAGhRBBgvtT4zXxVV1WoTHabUuHB3Hw4AAC2KAOPl+x+Z2UcB1L8AAPwMAcYHAgwAAP6GAOOFjpaUK+Ngob3M/kcAAH9EgPFCX+/NV7WkjvERah0d5u7DAQCgxRFgvBDDRwAAf0eA8er1X6h/AQD4JwKMl8kuLNXOI0Uy6+4OSiPAAAD8EwHGy6zeW7N5Y4/WUXYPJAAA/BEBxsus2pNrPzN8BADwZwQYb93AkfoXAIAfI8B4kX15xdp/tFRBgQEa2J4NHAEA/osA44W9L33bRqtVaJC7DwcAALchwHjh+i8MHwEA/B0BxktUV1drNeu/AABgEWC8xPYjRcopKldYcKD6pcS4+3AAAHArAoyX1b+c3T5GocE0GwDAv/FO6G3Tp1l9FwAAAow3qKiq1pp9tfsfdYx39+EAAOB29MB4gc2HClVYWqmosCCd1TrK3YcDAIDbEWC8wKrdNdsHDE6Ns4vYAQDg7wgwXqBu+jTrvwAAUIMA4+HKKqq0LvOovcwGjgAA1CDAeLhvso6qtKJKCa1C1CWxlbsPBwAAj0CA8ZLtA0zvS0AA9S8AABgEGA/H+i8AAJyMAOPBisoqtfFAgb08pGOcuw8HAACPQYDxYGsz81VZVa12MWFqHxvh7sMBAMBjEGA82KrddfUvrL4LAMDxCDAejPVfAAA4NQKMh8orLteWQ4X2cnparLsPBwAAj0KA8VBf781TtaTOia2UFBXm7sMBAMCjEGA81Fd167+kMfsIAIATEWA8fP0Xtg8AAOBkBBgPdKigVLtzi2U2nh5E/QsAACchwHjw7KOeraMUEx7i7sMBAMDjEGA8fP8jAABwMgKMh6muribAAABwBgQYD7Mvr0QHC0oVHBigAe1Z/wUAgFMhwHiYVXty7ed+7WIUERLk7sMBAMAjEWA8zKo9+fYz678AAPDDCDAepKq6un4GEgW8AAD8MAKMB9mefczugRQeHKg+KdHuPhwAADwWAcYDp08PTI1VSBBNAwDAD+Fd0oOw/gsAAI1DgPEQFVXVWruvtoCXBewAAHBugCktLdXMmTOVnp6u4cOHa/78+Wf8mtWrV2vUqFEnLdj21FNPacSIERoyZIimTp2qnJycZr2ON/vuQIGOlVUqJjxY3ZOj3H04AAD4VoCZO3euNm7cqJdffln33Xefnn76aS1duvQHH79582bddtttNrAc7/XXX9cbb7yhRx55RAsWLNChQ4d09913N/l1fGX4aFBqrILMLo4AAOAHBcsBRUVFWrRokV544QX16dPHfmzdutUGkMsuu+ykxy9cuFBz5sxRWlqaCgsLG9y3YsUKXXHFFRo6dKi9PmnSJN1xxx1Neh1fsKp++nS8uw8FAADf6oHJyMhQRUWFBg4cWH/b4MGDtX79elVVVZ30+JUrV9oAM3HixJPui4uL0/Lly3Xw4EGVlJRoyZIl6tWrV5Nex9uVlFdqQyb1LwAAuKQH5vDhw4qPj1doaGj9bUlJSbZeJS8vTwkJCQ0e/+yzz9rPixcvPum5pkyZosmTJ9samKCgICUnJ9thpaa8zg8JcMFITN1zOvO5Nx44qrLKaiVFhqpzYoRLjttXuaI90HS0h+ehTTwL7XF6jvwtdyjAFBcXNwgVRt31srIyR55KmZmZCg8P17x58xQTE2NrXkzRrinWddbrJCa6bjE4Zz73xjWZ9vPw7klKTo5x2vP6E1e2NRxHe3ge2sSz0B7N51CACQsLOylA1F03YaSxTEHv9OnTNW3aNI0cOdLe9sQTT9jLZpjIWa9z5EiBTqgddko6ND94znzulRmH7Of+baKUnV3gnCf1E65oD9AevoTfEc9CezTu/Dg9wLRp00a5ubm2PiU4OLh+uMeECtOL0lhmunRWVpZ69uxZf1tKSoodNjI9M23btnXK65g3NFe9qTnruQtLK7TpQE1oSe8Qx5uwm9sDzkF7eB7axLPQHi1cxGuKbE2gWLduXf1ta9asUb9+/RQY2Pinio2NtUNC27dvbxBqTH1Lamqq017HG5jF6yqrpdS4cKXENL53CQAAf+ZQGoiIiNCYMWM0a9YsbdiwQR9//LGtWbnxxhvre0nMjKIzMeFk7NixdobSqlWrtGXLFv3hD3/QgAEDbEg50+v4krrdp9PT4tx9KAAAeA2HuzNmzJhh12WZMGGC7r//ft16660aPXq0vc+smPvee+816nlMwa75OrP2y/jx4+3QkJm1FFBbgny61/El7H8EAIDjAqpPXCLXh5iCWFcU8SYlRTvluXOLyjT6uS/s5Q8mn6uEVg1nXqFl2wPNR3t4HtrEs9AejTs/jeFbBSVeZvXemsXruiVFEl4AAHAAAcaNVtfuf2RmHwEAgMYjwLjRqj259vMQAgwAAA4hwLjJgaMl2ptXIrPxtNmBGgAANB4Bxs2zj3q3jVZUmEPrCQIA4PcIMG7C+i8AADQdAcYNzMz1uh4YCngBAHAcAcYNducW63BhmUKCAjSgHbtPAwDgKAKMG9T1vvRvF6PwkCB3HAIAAF6NAOPG9V+YPg0AQNMQYFpYVXW11rCBIwAAzUKAaWFbDx1TfkmFWoUEqU/bxu33AAAAGiLAtLBVtb0vA1NjFRzE6QcAoCl4B21hbB8AAEDzEWBaUEVlldbuq9mBmvVfAABoOgJMC/r2QIGKy6sUGx6s7smRLfnSAAD4FAJMCzp+9d3AgICWfGkAAHwKAcYNAYb1XwAAaB4CTAspKa/UN1lH7eX0tLiWelkAAHwSAaaFrM88qvLKarWOClWH+IiWelkAAHwSAaaF138xw0cB1L8AANAsBJgWr3+Jb6mXBADAZxFgWkBBSYUyDhbYy4PTYlviJQEA8GkEmBbw9b48VVXL1r60jQlviZcEAMCnEWBaANOnAQBwLgJMSy5gx/RpAACcggDjYkeOlWnHkSJ7mQADAIBzEGBcbHVt74vZ+yiuVYirXw4AAL9AgGnB9V8AAIBzEGBcjAJeAACcjwDjQpn5xdqfX6KgAGlgKuu/AADgLAQYF1qzJ99+7t02RpGhwa58KQAA/AoBxoW+2pNrPw/pSP0LAADORIBxkerqaq3eW9MDM4T1XwAAcCoCjIvszCmya8CEBQeqX7sYV70MAAB+iQDj4vVf+reLsSEGAAA4D++sLsL0aQAAXIcA4wKVVdVaU1f/wgJ2AAA4HQHGBTYfKlRBaYUiQ4N0VptoV7wEAAB+jQDjwvqXQamxCg4McMVLAADg1wgwLqx/SWf4CAAAlyDAOFl5ZZXWZtbUvwztEO/spwcAAAQY5/sm66hKK6oUHxGiLkmt+CEDAMAF6IFxUf2LGT4KDKD+BQAAVyDAOBn1LwAAuB4BxomKyyv1TVaBvTyUAl4AAFyGAONEa/fl20Xs2kaHqX1suDOfGgAAHIcA44L6F7P6bgD1LwAAuAwBxolW72X9FwAAWgIBxknyi8uVcbDQXmb/IwAAXIsA4yRf78tXtaROCRFKjgpz1tMCAIBTIMA4efr0EFbfBQDA5QgwLljADgAAuBYBxgkOF5ZqZ06RzLq7g1NjnfGUAADgNAgwTpx91LN1lGIjQpzxlAAA4DQIME6wavf3678AAADXI8A0U3V1NfsfAQDQwggwzZSZX6IDBaUKCgzQ2e2pfwEAoCUQYJw0fbpfSrRahQY5o00AAMAZEGCcFGDS06h/AQCgpRBgmln/Ur+BY0cCDAAALYUA0wzbs4uUW1yusOBA9W0b47xWAQAAp0WAaYZVteu/DGwfq9BgTiUAAC2Fd91mWLU7135m+wAAAFoWAaaJKqqq7Q7UBgvYAQDQsggwTZRxsEDHyioVHRZstxAAAAAthwDTzOnTg9Ni7SJ2AACg5RBgmoj1XwAA8KIAU1paqpkzZyo9PV3Dhw/X/Pnzz/g1q1ev1qhRoxrc1rNnz1N+vPnmm/b+rKws3XLLLRo0aJAuuugivfTSS/IUJeWVWp951F5m/RcAAFpesKNfMHfuXG3cuFEvv/yy9u/fr+nTp6tdu3a67LLLTvn4zZs367bbblNYWFiD2//97383uG4Cyvvvv18fdKZOnWqfd/Hixdq2bZvuvPNOtW/fXpdcconcbe2ePJVWVCkxMlSdE1q5+3AAAPA7DvXAFBUVadGiRbr77rvVp08fGyYmTZqkBQsWnPLxCxcu1Lhx45SYmHjSfcnJyfUfJSUleuWVV/Tggw8qOjpa+fn5WrdunSZPnqxOnTrp4osv1gUXXKDPP/9cnuCz7dn2c3parAICqH8BAMCjA0xGRoYqKio0cODA+tsGDx6s9evXq6qq6qTHr1y5UnPmzNHEiRNP+7xPPvmkzjvvPA0bNsxeDw8PV0REhO19KS8v144dO/T111+rV69e8gSfbT9iPzN9GgAALxhCOnz4sOLj4xUaGlp/W1JSkq2LycvLU0JCQoPHP/vss/azCSI/xAxDvfvuu7a3po4Zbrr33nv1wAMP6G9/+5sqKys1duxYXX/99Y4crlzROVJUXqH1tSvwDu0Y75LXQOPVnX/awTPQHp6HNvEstMfpOfK33KEAU1xc3CC8GHXXy8rK1BRvvPGG+vbtqwEDBjS4ffv27Ro5cqRuuukmbd261YYZ00tz9dVXN/q5ExOj5WyfZhyyi9ilJUSof9dkpz8/msYVbY2moz08D23iWWiP5nMowJiekRODSt11M+zTFB988IGtkzmeqXUxwWbFihX2efv166eDBw/queeecyjAHDlSoOpqOdXHG/fbz4Paxyo7u8C5T44mpXXzh8AVbQ3awxfwO+JZaI/GnR+nB5g2bdooNzfX1sEEBwfXDyuZkBET4/huzGaqtJlhdOIUazPLqWPHjg1CUe/evTVv3jyHnt+8oTn7Ta1u/RdT/8IbpudwRVuj6WgPz0ObeBbao4WLeE0RrQkuZoZQnTVr1tgeksBAx9fEM8W/KSkpdrr08Vq3bq3du3c36O0xhbypqalyt8y8ErvyLhs4AgDgPg6lDjMzaMyYMZo1a5Y2bNigjz/+2C5kd+ONN9b3xpgp0Y1lalu6du160u1m4bqQkBDdc8892rlzp5YtW2Z7X8aPHy93m3N1b704IV1JkQ1rgQAAQMtxuNtkxowZdg2YCRMm6P7779ett96q0aNH2/vMyrzvvfdeo58rOztbsbGxJ91u1oIxC9uZQHTddddp9uzZdk2YG264Qe52bqd4XdiztbsPAwAAvxZQXe27lQOmyNbZ350pMEpKinbJc4P28Hb8fnge2sSz0B6NOz+NwWaOAADA6xBgAACA1yHAAAAAr0OAAQAAXocAAwAAvA4BBgAAeB0CDAAA8DoEGAAA4HUIMAAAwOsQYAAAgNchwAAAAK9DgAEAAF4nWD6+KZSrntMVzw3H0R6ehfbwPLSJZ6E9Ts+R91af3o0aAAD4JoaQAACA1yHAAAAAr0OAAQAAXocAAwAAvA4BBgAAeB0CDAAA8DoEGAAA4HUIMAAAwOsQYAAAgNchwDigtLRUM2fOVHp6uoYPH6758+e7rmVwRgcPHtTvfvc7DR06VBdccIFmz55t2wjud/PNN+uuu+5y92H4tbKyMt1///0aMmSIhg0bpscee0wsvO5eWVlZuuWWWzRo0CBddNFFeumll9x8RN7Np/dCcra5c+dq48aNevnll7V//35Nnz5d7dq102WXXebuQ/M75g+xCS8xMTFasGCB8vPzbbgMDAy07QL3WbJkiVasWKFrr72WZnCjBx98UF9++aVefPFFHTt2TLfffrv9ezVu3DjaxU2mTp1q22Dx4sXatm2b7rzzTrVv316XXHIJbdIE9MA0UlFRkRYtWqS7775bffr0sT9wkyZNsm+eaHk7duzQunXrbK9L9+7dba+YCTTvvvsuzeFGeXl5Nuj369ePdnBzO/zjH//QAw88oP79++u8887TL3/5S61fv552cRPzT5b5mzV58mR16tRJF198se05/vzzz2mTJiLANFJGRoYqKio0cODA+tsGDx5s/yBUVVU19fyjiZKTk/WXv/xFSUlJDW4vLCzknLrRnDlzdM0116hbt260gxutWbNGUVFRdnj1+GE9E/jhHuHh4YqIiLC9L+Xl5fafsK+//lq9evWiSZqIANNIhw8fVnx8vEJDQ+tvM2+epubC/LeDlmWGjsx/L3VMiHz11Vd17rnn0hRuYv6TXL16tX7729/SBm62d+9eOzTx5ptv2iHuUaNG6ZlnnuGfLTcKCwvTvffeq9dff10DBgzQ5ZdfrhEjRuj6669352F5NWpgGqm4uLhBeDHqrptiObjXww8/rE2bNumNN96gKdzABPn77rvP/oE2/2nC/UPeu3fv1sKFC22vi/kHzLSN6QEwQ0lwj+3bt2vkyJG66aabtHXrVjvEZ4b3rr76apqkCQgwDqTnE4NK3XX+YLs/vJjC6scff1w9evRw89H4p6efflp9+/Zt0CsG9wkODrbDqY8++qjtiTHMxIPXXnuNAOPGHkrzD5YpcDfvGaZOzMykfO655wgwTUSAaaQ2bdooNzfX1sGYPw6G+a/G/CCa4Qy4h/kPxvxRNiHm0ksvpRncOPMoOzu7vkasLtx/8MEHWrt2Le3ihhox809XXXgxOnfubKfxwj3MDNaOHTs2+Ie3d+/emjdvHk3SRASYRjKFVia4mCpyM+OlrlDOpGgzdRfu+a/fdJGb9S2Yyu5er7zyig33dR555BH72UwTRcszNRZmWG/nzp02uBimaPT4QIOW1bp1azusZ8J9XfmBaZPU1FSaool4520kM3Y8ZswYzZo1Sxs2bNDHH39sF7K78cYbm3ru0cyx5GeffVa//vWv7Www0xtW94GWZ94YzX+XdR+RkZH2w1xGy+vSpYsuvPBCzZgxw86g/Ne//qXnn39eP/3pT2kONzEL14WEhOiee+6xwXLZsmW292X8+PG0SRMFVLM0o0OFvCbAfPjhh3aK4q9+9StNnDixqecezWD+GJvx/VPZvHkz59bN6lbh/e///m93H4rfKigosEOsH330kf0H7Gc/+5mmTJmigIAAdx+a3zKL1/35z3+2/wQnJCTo5z//uSZMmECbNBEBBgAAeB2GkAAAgNchwAAAAK9DgAEAAF6HAAMAALwOAQYAAHgdAgwAAPA6BBgAAOB1CDAAAMDrEGAAAIDXIcAAAACvQ4ABAABehwADAADkbf4/ZENG7XTaM5AAAAAASUVORK5CYII="
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    }
   ],
   "execution_count": 235
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:33:56.484387Z",
     "start_time": "2025-11-27T21:33:56.448776Z"
    }
   },
   "cell_type": "code",
   "source": "model.summary()",
   "id": "403125536a6e4abf",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "\u001B[1mModel: \"sequential_9\"\u001B[0m\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\"><span style=\"font-weight: bold\">Model: \"sequential_9\"</span>\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    },
    {
     "data": {
      "text/plain": [
       "┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓\n",
       "┃\u001B[1m \u001B[0m\u001B[1mLayer (type)                   \u001B[0m\u001B[1m \u001B[0m┃\u001B[1m \u001B[0m\u001B[1mOutput Shape          \u001B[0m\u001B[1m \u001B[0m┃\u001B[1m \u001B[0m\u001B[1m      Param #\u001B[0m\u001B[1m \u001B[0m┃\n",
       "┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩\n",
       "│ normalization_9 (\u001B[38;5;33mNormalization\u001B[0m) │ (\u001B[38;5;45mNone\u001B[0m, \u001B[38;5;34m7\u001B[0m)              │            \u001B[38;5;34m15\u001B[0m │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_27 (\u001B[38;5;33mDense\u001B[0m)                │ (\u001B[38;5;45mNone\u001B[0m, \u001B[38;5;34m64\u001B[0m)             │           \u001B[38;5;34m512\u001B[0m │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_28 (\u001B[38;5;33mDense\u001B[0m)                │ (\u001B[38;5;45mNone\u001B[0m, \u001B[38;5;34m64\u001B[0m)             │         \u001B[38;5;34m4,160\u001B[0m │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_29 (\u001B[38;5;33mDense\u001B[0m)                │ (\u001B[38;5;45mNone\u001B[0m, \u001B[38;5;34m6\u001B[0m)              │           \u001B[38;5;34m390\u001B[0m │\n",
       "└─────────────────────────────────┴────────────────────────┴───────────────┘\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\">┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓\n",
       "┃<span style=\"font-weight: bold\"> Layer (type)                    </span>┃<span style=\"font-weight: bold\"> Output Shape           </span>┃<span style=\"font-weight: bold\">       Param # </span>┃\n",
       "┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩\n",
       "│ normalization_9 (<span style=\"color: #0087ff; text-decoration-color: #0087ff\">Normalization</span>) │ (<span style=\"color: #00d7ff; text-decoration-color: #00d7ff\">None</span>, <span style=\"color: #00af00; text-decoration-color: #00af00\">7</span>)              │            <span style=\"color: #00af00; text-decoration-color: #00af00\">15</span> │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_27 (<span style=\"color: #0087ff; text-decoration-color: #0087ff\">Dense</span>)                │ (<span style=\"color: #00d7ff; text-decoration-color: #00d7ff\">None</span>, <span style=\"color: #00af00; text-decoration-color: #00af00\">64</span>)             │           <span style=\"color: #00af00; text-decoration-color: #00af00\">512</span> │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_28 (<span style=\"color: #0087ff; text-decoration-color: #0087ff\">Dense</span>)                │ (<span style=\"color: #00d7ff; text-decoration-color: #00d7ff\">None</span>, <span style=\"color: #00af00; text-decoration-color: #00af00\">64</span>)             │         <span style=\"color: #00af00; text-decoration-color: #00af00\">4,160</span> │\n",
       "├─────────────────────────────────┼────────────────────────┼───────────────┤\n",
       "│ dense_29 (<span style=\"color: #0087ff; text-decoration-color: #0087ff\">Dense</span>)                │ (<span style=\"color: #00d7ff; text-decoration-color: #00d7ff\">None</span>, <span style=\"color: #00af00; text-decoration-color: #00af00\">6</span>)              │           <span style=\"color: #00af00; text-decoration-color: #00af00\">390</span> │\n",
       "└─────────────────────────────────┴────────────────────────┴───────────────┘\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    },
    {
     "data": {
      "text/plain": [
       "\u001B[1m Total params: \u001B[0m\u001B[38;5;34m15,203\u001B[0m (59.39 KB)\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\"><span style=\"font-weight: bold\"> Total params: </span><span style=\"color: #00af00; text-decoration-color: #00af00\">15,203</span> (59.39 KB)\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    },
    {
     "data": {
      "text/plain": [
       "\u001B[1m Trainable params: \u001B[0m\u001B[38;5;34m5,062\u001B[0m (19.77 KB)\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\"><span style=\"font-weight: bold\"> Trainable params: </span><span style=\"color: #00af00; text-decoration-color: #00af00\">5,062</span> (19.77 KB)\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    },
    {
     "data": {
      "text/plain": [
       "\u001B[1m Non-trainable params: \u001B[0m\u001B[38;5;34m15\u001B[0m (64.00 B)\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\"><span style=\"font-weight: bold\"> Non-trainable params: </span><span style=\"color: #00af00; text-decoration-color: #00af00\">15</span> (64.00 B)\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    },
    {
     "data": {
      "text/plain": [
       "\u001B[1m Optimizer params: \u001B[0m\u001B[38;5;34m10,126\u001B[0m (39.56 KB)\n"
      ],
      "text/html": [
       "<pre style=\"white-space:pre;overflow-x:auto;line-height:normal;font-family:Menlo,'DejaVu Sans Mono',consolas,'Courier New',monospace\"><span style=\"font-weight: bold\"> Optimizer params: </span><span style=\"color: #00af00; text-decoration-color: #00af00\">10,126</span> (39.56 KB)\n",
       "</pre>\n"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    }
   ],
   "execution_count": 236
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "# Predictions",
   "id": "3df38422d745c1"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:33:58.937248Z",
     "start_time": "2025-11-27T21:33:56.495406Z"
    }
   },
   "cell_type": "code",
   "source": "loss, m_value = model.evaluate(np.array(test_features), test_labels, verbose=2)",
   "id": "5505371624967137",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "1370/1370 - 2s - 2ms/step - accuracy: 0.1834 - loss: 1.7672\n"
     ]
    }
   ],
   "execution_count": 237
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-27T21:34:01.152260Z",
     "start_time": "2025-11-27T21:33:58.991371Z"
    }
   },
   "cell_type": "code",
   "source": [
    "predictions = model.predict(np.array(test_features))\n",
    "true_labels = test_labels\n",
    "# Calcul du % de bonnes prédictions\n",
    "correct_predictions = np.sum(np.argmax(predictions, axis=1) == true_labels)\n",
    "total_predictions = len(true_labels)\n",
    "accuracy = correct_predictions / total_predictions\n",
    "print(f'Accuracy: {accuracy * 100:.2f}%')"
   ],
   "id": "17387d76ade50650",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "\u001B[1m1370/1370\u001B[0m \u001B[32m━━━━━━━━━━━━━━━━━━━━\u001B[0m\u001B[37m\u001B[0m \u001B[1m2s\u001B[0m 1ms/step\n",
      "Accuracy: 18.34%\n"
     ]
    }
   ],
   "execution_count": 238
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}